
.git
.gitignore
.github

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.so
*.egg
*.egg-info/
.eggs/

build/
dist/
pip-wheel-metadata/

wildkcat-env/

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

.vscode/
.idea/

.DS_Store
Thumbs.db

site/

article/
in_progress/

.env